# Emarket Configuration Environment Variables Template
# Copy this file to a new file named '.env' and customize values.
# ----------------------------------------------------

# SQL Server System Administrator (sa) Password
# Must meet SQL Server password complexity requirements:
# Minimum 8 characters, containing uppercase, lowercase, numbers, and/or special symbols.
MSSQL_SA_PASSWORD=ChangeThisToASecurePassword123!

# Host Port mapping for Web App
PORT=8080
